@import "./colors";
@import "./media-queries";

.about {
  margin-bottom: 44px;
}

.about__header {
  font-weight: 700;
  font-size: 32px;
  margin: 6px 0;
  margin-top: 10px;

  @include breakpoint(xs) {
    font-size: 26px;
  }
}

.about__description {
  font-size: 22px;
  color: $gray-book;

  @include breakpoint(xs) {
    font-size: 18px;
  }
}


