@import './colors';
@import './media-queries';

.about {
  margin-bottom: 44px;
}

.about__name {
  font-size: 18px;
  font-weight: 500;
  color: $gray-800;

  display: inline-block;
  background: linear-gradient(45deg, #ff77d3 0%, #869bff 100%);
  color: white;
  cursor: pointer;

  padding: 2px 10px;
  border-radius: 3px;
}

.about__header {
  font-weight: 700;
  font-size: 32px;
  margin: 6px 0;
  margin-top: 10px;

  @include breakpoint(xs) {
    font-size: 26px;
  }
}

.about__description {
  font-size: 16px;
  color: $gray-book;

  @include breakpoint(xs) {
    font-size: 15px;
  }
}

.about__text b {
  color: $gray-900;
  font-weight: 500;
}

.about__column {
  padding-right: 34px;
}

.about__text--two-columns {
  display: flex;
  flex-flow: row nowrap;

  .about__column {
    width: 50%;
  }

  @include breakpoint(xs) {
    display: block;

    .about__column {
      width: 100%;
      padding-right: 0px;
    }
  }
}
