@import './colors';
@import './media-queries';

.contacts {
  display: flex;
  flex-flow: row wrap;

  padding-bottom: 12px;
  margin-bottom: 40px;

  border-bottom: 1px solid $gray-100;
}

.contacts__logo {
  width: 48px;
  height: 48px;
  background-color: black;
  margin-right: 32px;

  border-radius: 30px;
  background-image: url(/images/patterns/stripes.jpg);
  background-size: cover;

  border: 3px solid black;

  @include breakpoint(xs) {
    display: none;
  }
}

.contacts__column {
  margin-right: 64px;

  @include breakpoint(xs) {
    width: 50%;
    margin-right: 0;
  }
}

.contacts__line {
  display: flex;
  flex-flow: row nowrap;
  font-size: 14px;
  margin-bottom: 3px;
}

.contacts__link {
  color: $gray-600;
  text-decoration: none;
}
