@import '~sanitize.css';

@import './colors';
@import './media-queries';

@import './about.scss';
@import './contacts.scss';
@import './mini-map.scss';
@import './preview.scss';

// Add fancy text selection styles
::selection {
  color: white;
  background-color: $pink;
}

html {
  line-height: 1.5;
}

body {
  font-family: Rubik, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.site__main-layout {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  @include breakpoint(xs) {
    display: block;
  }
}

.site__content {
  padding: 32px;

  padding-top: 18px;
  padding-left: 80px;
  padding-right: 20px;
  padding-bottom: 64px;

  @include breakpoint(md) {
    padding-left: 26px;
  }

  @include breakpoint(xs) {
    padding: 18px 28px;
  }

  max-width: 900px;
}

.site__magic {
  min-width: 400px;
  flex: 1 1;

  @include breakpoint(sm) {
    display: none;
  }
}

.project__header {
  font-weight: 500;
  font-size: 24px;
  margin: 8px 0;
}
