@import './colors';
@import './media-queries';

.mini-map__section {
  margin-top: 12px;
}

.mini-map__header {
  color: $gray-500;
  margin-bottom: 12px;
}

.mini-map__item {
  width: 64px;
  height: 64px;

  background-color: $gray-100;

  display: inline-block;
  border-radius: 4px;

  margin-right: 4px;
  margin-bottom: 4px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  cursor: pointer;

  transition: border 0.2s ease;
  border: 2px solid rgba($pink, 0.2);

  &:hover {
    border-color: $pink;
  }
}
