@import url(http://fonts.googleapis.com/css?family=Magra:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:100&subset=latin,cyrillic-ext,cyrillic);

body {
  font-family 		: 'Roboto';
  font-weight 		: 100;
  font-size   		: 1.2em;
  background-image 	: url(bg.png);
  background-color 	: #111111;
  color       		: white;
  padding	  		: 0px 40px;
}

.highlight {
  	font-family : 'Magra';
	font-size   : 1.2em;
	font-weight : 600;
	padding     : 2px 5px;
}

#logo {
	height:160px;
}


a {
	margin: 0px 0px;
	color : #888888;
	font-weight: 100;
	text-decoration : none;
	transition: background-color 3s ease 0s, color 0.3s linear 0s;
}

a:hover {
	color : white;
	background-color: #ff006c;
	transition: background-color 0.1s ease 0s;
}

.container {
	width : 50%;
	margin    : 0 auto;
}

.fancy-color-1 {
	background-color: #ff009c;
}
.fancy-color-2 {

	background-color: #26BF72;
}	
.fancy-color-3 {
	background-color: #59a0db;
}

ul {
	list-style	: none;
	margin		: 0px 0px;
	padding		: 10px 0px;
}	