.cursor {
  --stroke-shadow: drop-shadow(0px 2px 0px white) drop-shadow(0px -2px 0px white)
    drop-shadow(1px 0px 0px white) drop-shadow(-1px 0px 0px white);
  --offset-x: 0px;
  --offset-y: 0px;

  position: absolute;
  top: 0;
  left: 0;
}

.arrow {
  filter: var(--stroke-shadow);
}

.cursor_arrow {
  --offset-x: -3px;
  --offset-y: -2px;

  & .cursor_me .arrow {
    color: black;
  }

  & .cursor_other .arrow {
    color: #999;
  }

  & .labelWrap {
    /* left bottom corner of the icon with slight offset */
    top: 32px;
    left: 16px;
  }
}

.cursor_tool {
  --offset-x: -50%;
  --offset-y: -50%;

  & .labelWrap {
    /* left bottom corner of the icon with slight offset */
    top: calc(100% + 8px);
    left: 0;
  }
}

.labelWrap {
  position: absolute;
  filter: var(--stroke-shadow);
}

.label {
  font-weight: 600;
  height: 32px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 18px;
  padding: 0px 8px;
  white-space: nowrap;
  border-radius: 8px;

  --shadow-color: #333;
  text-shadow: 0px 1px 0px var(--shadow-color);
}

.sticker {
  opacity: 0.8;
}
