.stickerContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stickerImage {
  width: 90px;
  height: 90px;
  background-size: contain;
  background-repeat: no-repeat;
}

.label {
  margin-top: 0px;
  text-align: center;
  font-size: 14px;
  color: var(--color-gray-400);
  opacity: 0;
}
