.poll {
  overflow: hidden;
  border-radius: 14px;
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.05),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
  margin: -8px -8px 16px -8px;
  min-height: 128px;
  background-color: white;
  aspect-ratio: 16/9;
}

.vote {
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.button {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 4px;
  color: white;
  font: var(--type-text-small);
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
  background-color: var(--color-accent-500);
  outline: none;
  appearance: none;
  box-shadow: inset 0 -1px 0 2px var(--color-accent-700);
  border: none;
}

.button_voted {
  background-color: var(--color-accent-200);
  box-shadow: inset 0 2px 0px 1px var(--color-accent-300);

  border-color: transparent;
}

.button_voted > span {
  display: inline-block;
  transform: translateY(1px);
}
