.map {
  margin: calc(var(--sketches-block-padding) * -1);
  margin-bottom: 14px;
  height: 280px;
  border-radius: 18px 18px 0 0;
  overflow: hidden;
}

.pin {
  width: 16px;
  height: 16px;
  border-radius: 32px;
  display: inline-block;
  box-shadow: 0 0px 2px 0px rgba(0, 0, 0, 0.25);
  will-change: transform;
  background: #cb2b1d;
  border: 2px solid white;
}

.pin_current {
  background:
    center / cover url("./pog-overlay.png"),
    white;
  border: 1px solid white;

  box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.6);
  width: 32px;
  height: 32px;
}

.pin_visible {
  opacity: 1;
}

.latest {
  font: var(--type-text-small);
  font: var(--type-text-x-small);
  font-family: var(--font-mono);
}

.serial {
  background-color: var(--color-gray-900);

  font-weight: 700;
  color: white;
  padding: 0px 6px;
  border-radius: 32px;
  margin-right: 6px;
}

.date {
  color: var(--color-gray-400);
}
