._404 {
  padding: 152px 0 320px 0;
  position: relative;

  height: calc(100vh - 196px);
  min-height: 600px;
  margin-bottom: -32px;

  --canvas-width: 1600px;
  --dot-grid-step: 64px;
}

._404__page-container {
  overflow: hidden;
  margin-top: -112px;
}

._404__title {
  font-size: 80px;
  font-weight: 900;
  margin-bottom: 40px;
  text-align: center;
  text-shadow:
    0 6px 0px white,
    6px 0 0px white,
    -6px 0 0px white,
    0 -6px 0px white;
}

@media (max-width: 768px) {
  ._404__title {
    font-size: 72px;
  }
}

._404__subtitle {
  font: var(--type-text-medium);
  font-weight: 500;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  color: var(--color-gray-600);
  text-wrap: balance;

  text-shadow:
    0 1px 0px white,
    1px 0 0px white,
    -1px 0 0px white,
    0 -1px 0px white;
}

._404__canvas-abs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}

._404__message {
  position: relative;
}

._404__canvas-grid {
  z-index: -1;
  background: url(../public/images/polka-dot-pattern.svg) repeat top left / var(--dot-grid-step)
    var(--dot-grid-step);
  height: 100%;
  flex-shrink: 0;
  flex-basis: var(--canvas-width);

  mask-image: linear-gradient(to right, black 75%, transparent 100%),
    linear-gradient(to left, black 75%, transparent 100%),
    linear-gradient(to bottom, black 85%, transparent 100%),
    linear-gradient(to top, black 85%, transparent 100%);
  mask-composite: intersect;
}
