.about {
  margin-bottom: 48px;
}

.about__header {
  font: var(--type-header-large);
  letter-spacing: -0.05em;
  margin-bottom: 16px;
}

.about__description {
  font: var(--type-text-medium);
  letter-spacing: -0.005em;
  color: var(--color-gray-800);
  margin-bottom: 48px;
}

.about__link {
  display: inline;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  text-decoration: none;
  z-index: 2;
  text-shadow: 1px 1px 0 white, -1px 1px 0 white, 0px 1px 0 white;
  color: inherit;
}

.about__link:before {
  display: inline-block;
  content: "";
  height: 4px;
  background-color: var(--color-accent);

  position: absolute;
  top: 1.1em;
  right: 0px;
  left: 0px;

  transition: height 0.1s ease;
  z-index: -2;
}

.about__link:hover:before {
  height: 6px;
}
