.about {
  margin-bottom: 48px;
}

.about__header {
  font: var(--type-header-large);
  -webkit-font-smoothing: none;
  letter-spacing: -0.03em;
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  .about__header {
    margin-bottom: 16px;
  }
}

.about__description {
  font: var(--type-text-medium);
  letter-spacing: -0.005em;
  color: var(--color-gray-800);
  margin-bottom: 48px;
}

.about__description i {
  font-family: var(--font-serif);
  -webkit-font-smoothing: none;
}
