.about {
  margin-bottom: 48px;
}

.about__header {
  font: var(--type-header-large);
  letter-spacing: var(--type-ls-header);
  -webkit-font-smoothing: none;
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  .about__header {
    margin-bottom: 16px;
  }
}

.about__description {
  font: var(--type-text-medium);
  font-weight: 500;
  letter-spacing: -0.005em;
  color: var(--color-gray-800);
  margin-bottom: 72px;
}

.about__description {
  & .solid-link {
    font-weight: 500;
    font-style: normal;
  }

  & i {
    font-family: var(--font-serif-fine);
    -webkit-font-smoothing: none;
  }
}

@media (max-width: 768px) {
  .about__description {
    margin-bottom: 54px;
  }
}
