.article {
  --type-text-content: 400 18px / 30px var(--font-sans);
  --type-article-header: 400 64px / 60px var(--font-serif-fine);
  --type-article-title: 400 24px/ 34px var(--font-sans);
}

@media (max-width: 768px) {
  .article {
    --type-text-content: 400 17px / 29px var(--font-sans);
    --type-article-title: 400 22px/ 31px var(--font-sans);
    --type-article-header: 400 52px / 52px var(--font-serif-fine);
  }
}

.article__header {
  text-align: center;
  margin-bottom: 96px;
  padding-top: 40px;
  font: var(--type-article-title);
}

.article__h1 {
  font: var(--type-article-header);
  letter-spacing: var(--type-ls-header);
  max-width: 480px;
  margin: 0 auto 32px auto;
}

.article__category {
  font: var(--type-text-small);
  color: var(--color-accent);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 24px;
  display: inline-block;
  padding: 2px 12px;
  border-radius: 6px;
}

.article__notion.notion {
  & {
    --notion-max-width: var(--inner-grid-width);
    --notion-font: var(--font-sans);
    padding: 0;
    font: var(--type-text-content);
    color: var(--color-gray-900);
  }

  & .notion-h {
    letter-spacing: var(--type-ls-header);
    -webkit-font-smoothing: none;
    margin-bottom: 8px;
  }

  & .notion-h1 {
    font: var(--type-header-large);
  }

  & .notion-h2 {
    font: var(--type-header-medium);
  }

  & .notion-h3 {
    font: var(--type-header-regular);
  }

  & .notion-h1 + .notion-h2 {
    margin-top: 0.8em;
  }

  & .notion-inline-code {
    font-family: var(--font-mono);
    background-color: var(--color-gray-100);
    letter-spacing: -0.01em;
    padding: 2px 4px;
    border-radius: 4px;
    font-weight: 700;
    color: hsl(346 76% 59% / 1);

    & b {
      font-weight: 800;
    }
  }

  & .notion-text {
    padding: 8px 2px;
  }

  & .notion-text + .notion-text {
    padding-top: 12px;
  }

  & .notion-list-numbered > li::marker {
    font: var(--type-text-small);
  }

  & .notion-asset-wrapper-full:has(iframe) {
    border-top: 1px solid var(--color-gray-200);
    border-bottom: 1px solid var(--color-gray-200);
  }
}
