.article__notion.notion {
  & {
    --notion-max-width: var(--container-ds-inner);
    --notion-font: var(--font-sans);
    @apply text-base leading-8 text-ds-gray-800 p-0;
  }

  & ::selection {
    @apply text-ds-gray-50 bg-ds-accent;
  }

  & code {
    @apply font-ds-mono;
  }

  & .notion-h {
    @apply tracking-tight mb-4 p-0;
  }

  & .notion-h1 {
    @apply font-ds-serif font-medium text-2xl/[38px] md:text-[42px]/[48px];
  }

  & .notion-h2 {
    @apply font-ds-serif font-medium text-[32px]/[38px] md:text-[39px]/[48px] mt-20;
  }

  & .notion-h3 {
    @apply font-ds-serif font-medium text-[26px]/[32px] md:text-[28px]/[34px];
  }

  & .notion-h4 {
    @apply font-ds-serif font-medium text-[26px]/[32px] md:text-[28px]/[34px];
  }

  & .notion-h1 + .notion-h2 {
    margin-top: 0.8em;
  }

  & .notion-inline-code {
    @apply bg-ds-gray-100 tracking-tight rounded font-bold;
    padding: 2px 4px;
    color: hsl(346 76% 59% / 1);

    & b {
      @apply font-extrabold;
    }
  }

  /**
  * Style inline code wrapped in a link
  * Use normal opacity and add an underline
  */

  & .notion-link:has(.notion-inline-code) {
    @apply no-underline border-b-0 opacity-100;
  }

  & .notion-link > .notion-inline-code {
    @apply underline;
  }

  & .notion-link > .notion-inline-code:hover {
    @apply bg-ds-gray-200;
  }

  & .notion-text {
    @apply my-4 p-0;
  }

  & .notion-list-numbered > li::marker {
    @apply text-ds-sm;
  }

  & .notion-asset-wrapper {
    @apply my-4 p-0;
  }

  & .notion-asset-wrapper-image {
    @apply rounded-sm overflow-hidden;
  }

  & .notion-asset-wrapper-full:has(iframe) {
    @apply border border-ds-gray-200 rounded-sm overflow-hidden;
    max-width: calc(100vw - 32px);
  }

  & .notion-asset-wrapper:not(.notion-asset-wrapper-full):has(iframe) {
    @apply border border-ds-gray-200 rounded;
  }

  & .notion-asset-caption {
    @apply text-ds-sm;
  }

  & .notion-callout {
    @apply rounded-lg py-6 px-4 border-transparent;

    & .notion-page-icon {
      @apply mt-1.5;
    }
  }

  & .notion-code {
    --sh-class: #f8f8f2;
    --sh-identifier: #50fa7b;
    --sh-sign: #ff79c6;
    --sh-string: #f1fa8c;
    --sh-keyword: #8be9fd;
    --sh-comment: #6272a4;
    --sh-jsxliterals: #bd93f9;
    --sh-property: #50fa7b;
    --sh-entity: #f8f8f2;

    @apply font-ds-mono my-4;
    background: rgba(33, 31, 32, 1);
    padding: 40px 32px;
  }

  & .exec-code {
    @apply my-4;
  }

  & .exec-code__content {
    @apply w-full flex items-center justify-center flex-wrap gap-6;
  }

  & .exec-code--full {
    width: calc(100dvw - 32px);
    @apply self-center;
  }

  & .exec-code__loading {
    @apply min-h-60 flex items-center font-ds-serif font-medium italic text-[26px]/[32px] md:text-[28px]/[34px] text-ds-gray-500;
  }
}
