.article {
  --type-article-header: 600 normal 58px / 60px var(--font-serif);
  --type-text-content: 400 19px / 30px var(--font-sans);
  --type-article-title: var(--type-text-large);

  padding-bottom: 96px;
}

.article__header {
  padding-top: 20px;
  padding-bottom: 72px;

  font: var(--type-article-title);
  font-weight: normal;
}

.article__h1 {
  font: var(--type-article-header);
  color: var(--color-gray-800);
  margin: 0 0 24px 0;
  max-width: 400px;
}

.article__category {
  font: var(--type-text-x-small);
  color: var(--color-accent-400);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 16px;
  display: inline-block;
  border-radius: 6px;
}

.article__cover {
  height: 380px;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  margin-bottom: 48px;

  & img {
    object-fit: cover;
    object-position: top center;
  }
}

@media (max-width: 768px) {
  .article {
    --type-article-header: 600 38px / 44px var(--font-serif);
    --type-text-content: 400 17px / 28px var(--font-sans);
  }

  .article__header {
    padding-bottom: 48px;
  }
}

@media (max-width: 640px) {
  .article__cover {
    height: 200px;
    margin-bottom: 32px;
  }
}

.article__notion.notion {
  & {
    --notion-max-width: var(--inner-grid-width);
    --notion-font: var(--font-sans);
    padding: 0;
    font: var(--type-text-content);
    color: var(--color-gray-900);
  }

  & ::selection {
    color: var(--color-gray-50);
    background-color: var(--color-accent);
  }

  & .notion-h {
    letter-spacing: var(--type-ls-header);
    margin-bottom: 8px;
  }

  & .notion-h1 {
    font: var(--type-header-large);
    -webkit-font-smoothing: none;
  }

  & .notion-h2 {
    font: var(--type-header-medium);
    font-family: var(--font-sans);
    font-style: normal;
  }

  & .notion-h3 {
    font: var(--type-header-regular);
    font-family: var(--font-sans);
    font-style: normal;
  }

  & .notion-h1 + .notion-h2 {
    margin-top: 0.8em;
  }

  & .notion-inline-code {
    font-family: var(--font-mono);
    background-color: var(--color-gray-100);
    letter-spacing: -0.01em;
    padding: 2px 4px;
    border-radius: 4px;
    font-weight: 700;
    color: hsl(346 76% 59% / 1);

    & b {
      font-weight: 800;
    }
  }

  & .notion-text {
    padding: 8px 2px;
  }

  & .notion-text + .notion-text {
    padding-top: 12px;
  }

  & .notion-list-numbered > li::marker {
    font: var(--type-text-small);
  }

  & .notion-asset-wrapper-full:has(iframe) {
    border-top: 1px solid var(--color-gray-200);
    border-bottom: 1px solid var(--color-gray-200);
  }

  & .notion-asset-wrapper:not(.notion-asset-wrapper-full):has(iframe) {
    border: 1px solid var(--color-gray-200);
    border-radius: 4px;
  }
}
