.footer {
  padding: 32px 0 64px 0;
}

.footer:before {
  content: "";
  display: block;
  box-shadow: 0px 0px 0px 0.5px var(--color-gray-100);
  margin-bottom: 32px;
}

.footer__links {
  font: var(--type-text-regular);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px 64px;
  margin-bottom: 40px;
}

.footer__reach-out {
  color: var(--color-gray-500);
  font: var(--type-text-regular);
  margin-bottom: 24px;
}

.footer__side-note {
  color: var(--color-gray-500);
  font: var(--type-text-small);
  margin-bottom: 32px;
}

.footer__side-note a {
  color: var(--color-accent);
  text-decoration: none;
}

.footer__side-note a:hover {
  text-decoration: underline;
}

.footer__link {
  color: var(--color-gray-800);
  text-decoration: none;
}

.footer__link:hover {
  color: var(--color-accent);
}

.footer__cv {
  grid-area: 1 / 1 / span 2 / span 1;
  place-self: flex-start flex-start;
  width: 100%;
}

@media (max-width: 640px) {
  .footer__cv {
    grid-column-end: span 2;
    padding-bottom: 6px;
  }
}
