.footer {
  padding: 0px 0 64px 0;
  margin-top: 32px;
}

.footer__main {
  /* border-top: 2px solid var(--color-gray-100); */
  margin: 0 auto;
  margin-bottom: 80px;
}

.footer__divider {
  height: 2px;
  background: linear-gradient(to right, transparent 5%, var(--color-gray-100), transparent 95%);
}

@media (max-width: 768px) {
  .footer__main {
    margin-bottom: 64px;
  }
}

.footer__links {
  font: var(--type-text-regular);
  font-weight: 500;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px 64px;
}

.footer__reach-out {
  color: var(--color-gray-600);
  font: var(--type-text-small);
  margin-bottom: 32px;
  padding-top: 48px;
}

.footer__link {
  color: var(--color-gray-800);
  text-decoration: none;
}

.footer__link:hover {
  color: var(--color-accent);
}

.footer__cv {
  grid-area: 1 / 1 / span 2 / span 1;
  place-self: flex-start flex-start;
  width: 100%;
}

@media (max-width: 640px) {
  .footer__cv {
    grid-column-end: span 2;
    padding-bottom: 6px;
  }
}

.footer__logo {
  width: 32px;
  opacity: 0.15;
  margin: 0 auto 24px auto;
}

.footer__side-note {
  color: var(--color-gray-600);
  font: var(--type-text-small);
  margin: 0 auto 0 auto;
  text-align: center;
}

.footer__side-note a {
  color: var(--color-accent-300);
  text-decoration: none;
}

.footer__side-note p {
  margin: 18px 0;
}

.footer__side-note a:hover {
  color: var(--color-accent-500);
  text-decoration: underline;
}

.footer__font--discordia {
  font-family: var(--font-serif);
  font-weight: bold;
}

.footer__font--dseg7 {
  font-family: var(--font-segm7);
  font-size: 0.8em;
  font-weight: bold;
}

.footer__font--dseg14 {
  font-family: var(--font-segm14);
  font-size: 0.8em;
  font-weight: bold;
}
