.footer {
  padding: 32px 0;
  padding-bottom: 64px;
  border-top: 2px solid var(--color-gray-300);
}

.footer__links {
  font: var(--type-text-regular);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: 12px 24px;
  margin-bottom: 40px;
}

.footer__reach-out {
  color: var(--color-gray-500);
  font: var(--type-text-regular);
  margin-bottom: 24px;
}

.footer__side-note {
  color: var(--color-gray-500);
  font: var(--type-text-small);
  margin-bottom: 32px;
}

.footer__side-note a {
  color: var(--color-accent);
  text-decoration: none;
}

.footer__side-note a:hover {
  text-decoration: underline;
}

.footer__link {
  color: var(--color-gray-800);
  text-decoration: none;
}

.footer__link:hover {
  color: var(--color-accent);
}

.footer-cv {
  grid-area: 1 / 1 / span 2 / span 1;
  place-self: flex-start flex-start;
  width: 100%;
}

@media (max-width: 640px) {
  .footer-cv {
    grid-column-end: span 2;
  }
}

.footer-cv__banner {
  background: white;
  border-radius: 6px;
  height: 62px;
  padding: 0 80px 0 18px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  user-select: none;
  max-width: 420px;

  color: inherit;
  text-decoration: inherit;

  border: 3px solid var(--color-gray-50);
  box-shadow: 0px 0px 0px 1px var(--color-gray-200);
}

.footer-cv__banner:hover {
  box-shadow: 0px 0px 0px 2px var(--color-accent);
  border-color: rgba(var(--color-accent-rgb), 0.07);
}

@media (max-width: 640px) {
  .footer-cv__banner {
    width: 100%;
    margin-bottom: 16px;
  }
}

.footer-cv__label {
  font: var(--type-text-small);
  color: var(--color-gray-700);
  font-weight: 500;
  margin-right: 96px;
  margin-bottom: 2px;
}

.footer-cv__sub-label {
  font: var(--type-text-x-small);
  color: var(--color-gray-400);
  line-height: 1;
  margin-bottom: 6px;
}

.footer-cv__page {
  width: 116px;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 1px 1px 16px 0 var(--color-gray-300), 0px 0px 0px 0.5px var(--color-gray-100);
  transform: translateY(6px) rotate(3deg) scale(1.1, 1.1);
  transition: 0.2s transform ease;
  will-change: transform;
  pointer-events: none;
}

.footer-cv__banner:hover .footer-cv__label {
  color: var(--color-accent);
  font-weight: 700;
}

.footer-cv__banner:hover .footer-cv__page {
  color: var(--color-accent);
  transform: translateY(11px);
  box-shadow: 1px 1px 8px 0 var(--color-gray-200), 0px 0px 0px 0.5px var(--color-gray-200);
}

.footer-cv__banner:active .footer-cv__page {
  transform: translateY(5px);
}
