@import "./colors";
@import "./media-queries";

.footer {
  padding: 32px 0;
  padding-bottom: 64px;
  border-top: 1px solid $gray-200;
  color: $gray-500;
}

.footer__links {
  column-count: 2;
  column-width: 200px;
  margin-bottom: 10px;
}

.footer__copyright {
  font-size: 14px;
  &,
  a {
    color: $gray-400;
  }
}

.footer__link-below {
  margin-bottom: 22px;
}

.footer__note {
  margin-bottom: 32px;

  a {
    color: $accent-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer__line {
  margin-bottom: 8px;
}

.footer__link {
  color: $gray-book;
  text-decoration: none;

  &:hover {
    color: $accent-color;
  }

  &:active {
    color: $accent-dark-color;
  }
}
