@import "~sanitize.css";

@import "./colors";
@import "./media-queries";

@import "./about.scss";
@import "./top-bar.scss";
@import "./footer.scss";
@import "./mini-map.scss";
@import "./preview.scss";

body {
  font-family: Inter, system-ui;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --fs-small: 14px;
  --fs-regular: 16px;
  --fs-medium: 18px;
  --fs-large: 24px;
  --fs-xlarge: 36px;

  --color-accent: #2c57fb;

  font-size: var(--fs-regular);
  line-height: 1.7;
}

body::selection {
  color: white;
  background-color: var(--color-accent);
}

.site__content {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 32px;

  @include breakpoint(md) {
    padding: 0 16px;
  }
}
