@import "~sanitize.css";

@import "./about.css";
@import "./top-bar.css";
@import "./footer.css";
@import "./mini-map.css";
@import "./preview.css";
@import "./references.css";
@import "./banner-cv.css";
@import "./layout.css";
@import "./solid-link.css";
@import "./projects.css";

:root {
  --type-text-x-small: 500 12px / 20px var(--font-sans);
  --type-text-small: 500 16px / 26px var(--font-sans);
  --type-text-regular: 500 17px / 31px var(--font-sans);
  --type-text-medium: 500 19px / 32px var(--font-sans);

  --type-header-large: 500 italic 48px / 52px var(--font-serif);
  --type-header-medium: 500 italic 39px / 38px var(--font-serif);

  --type-text-caption: 500 17px / 27px var(--font-sans);

  /* letter spacing */
  --type-ls-header: -0.03em;

  --color-gray-50: #fafafa;
  --color-gray-100: #f4f4f5;
  --color-gray-200: #e4e4e7;
  --color-gray-300: #d4d4d8;
  --color-gray-400: #a1a1aa;
  --color-gray-500: #71717a;
  --color-gray-600: #52525b;
  --color-gray-700: #3f3f46;
  --color-gray-800: #27272a;
  --color-gray-900: #18181b;

  --color-accent-200: #738efc;
  --color-accent-300: #5f7efc;
  --color-accent-400: #4b6efb;
  --color-accent-500: #2c57fb;
  --color-accent-600: #234efb;
  --color-accent-700: #0f3efa;

  --color-accent: #2c57fb;
  --color-accent-rgb: 44, 87, 251;

  --main-container-width: 768px;
}

@media (max-width: 768px) {
  :root {
    --type-text-x-small: 500 12px / 20px var(--font-sans);
    --type-text-small: 500 15px / 24px var(--font-sans);
    --type-text-regular: 500 16px / 27px var(--font-sans);
    --type-text-medium: 500 18px / 30px var(--font-sans);

    --type-header-large: 500 italic 32px / 36px var(--font-serif);
    --type-header-medium: 500 italic 25px / 38px var(--font-serif);

    --type-text-caption: 500 16px / 26px var(--font-sans);
  }
}

body {
  font-family: var(--font-sans);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  font: var(--type-text-regular);
  color: var(--color-gray-800);
}

::selection {
  color: var(--color-gray-100);
  background-color: var(--color-accent);
}
