@import "tailwindcss" source(none);
@source "../app/**/*.tsx";
@source "../components/**/*.tsx";

@layer base {
  @import "./reset.css";
}

@import "./about.css";
@import "./top-bar.css";
@import "./footer.css";
@import "./mini-map.css";
@import "./showcase.css";
@import "./references.css";
@import "./banner-cv.css";
@import "./grid.css";
@import "./solid-link.css";
@import "./projects.css";
@import "./speaking.css";
@import "./segmented.css";
@import "./projector.css";
@import "./article.css";
@import "./sketches.css";
@import "./blog.css";
@import "./404.css";
@import "./speaking-all.css";
@import "./expand-inline.css";
@import "./friends.css";

:root {
  /* --font-sans: Helvetica Neue; */

  --type-text-x-small: 500 13px / 22px var(--font-sans);
  --type-text-small: 400 15px / 24px var(--font-sans);
  --type-text-regular: 400 17px / 27px var(--font-sans);
  --type-text-medium: 400 18px / 28px var(--font-sans);
  --type-text-post: 400 18px / 29px var(--font-sans);

  --type-header-large: 500 italic 42px / 48px var(--font-serif);
  --type-header-medium: 500 italic 39px / 48px var(--font-serif);
  --type-header-regular: 500 italic 28px / 34px var(--font-serif);

  /* letter spacing */
  --type-ls-header: -0.03em;

  --color-gray-50: #f8f8fa;
  --color-gray-100: #f4f4f5;
  --color-gray-150: #ececee;
  --color-gray-200: #e4e4e7;
  --color-gray-300: #d4d4d8;
  --color-gray-400: #a1a1aa;
  --color-gray-500: #71717a;
  --color-gray-600: #52525b;
  --color-gray-700: #3f3f46;
  --color-gray-800: #262626;
  --color-gray-900: #18181b;

  --color-accent-200: #738efc;
  --color-accent-300: #5f7efc;
  --color-accent-400: #4b6efb;
  --color-accent-500: #2c57fb;
  --color-accent-600: #234efb;
  --color-accent-700: #0f3efa;

  --color-accent: #2c57fb;
  --color-accent-rgb: 44, 87, 251;

  --main-container-width: 768px;
}

@media (max-width: 768px) {
  :root {
    /* adjust line-height for smaller screens */
    --type-text-regular: 400 17px / 28px var(--font-sans);
    --type-text-post: 400 18px / 28px var(--font-sans);

    --type-header-large: 500 italic 36px / 39px var(--font-serif);
    --type-header-medium: 500 italic 32px / 38px var(--font-serif);
    --type-header-regular: 500 italic 26px / 32px var(--font-serif);
  }
}

h3 {
  margin: 0;
}

body {
  font-family: var(--font-sans);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  font: var(--type-text-regular);
  color: var(--color-gray-900);
}

::selection {
  color: var(--color-gray-50);
  background-color: var(--color-accent);
}
