@import "~sanitize.css";
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700&subset=latin-ext");

@import "./colors";
@import "./media-queries";

@import "./about.scss";
@import "./top-bar.scss";
@import "./footer.scss";
@import "./mini-map.scss";
@import "./preview.scss";

body {
  font-family: IBM Plex Mono, apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;

  line-height: 1.5;
  font-size: 16px;

  // Add fancy text selection styles
  ::selection {
    color: white;
    background-color: $accent-color;
  }
}

.site__content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 32px;

  @include breakpoint(md) {
    padding: 0 16px;
  }
}
