.mini-map__header {
  font: var(--type-text-small);
  color: var(--color-gray-600);
  margin-bottom: 6px;
}

.mini-map {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  gap: 8px;
}

.mini-map__item {
  aspect-ratio: 1 / 1;
  min-width: 80px;
  min-height: 80px;
  max-width: 96px;
  max-height: 96px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;

  background-color: var(--color-gray-200);
  border-radius: 6px;

  transition: border 0.2s ease;
  border: 2px solid var(--color-gray-300);
}

.mini-map__item:hover {
  border-color: var(--color-accent);
}
