.preview {
  position: fixed;
  pointer-events: none;

  z-index: 30;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;

  perspective: 1000px;
}

.preview__floating {
  position: absolute;
  top: 200px;
  right: 50px;
  opacity: 0;
}

.preview__card {
  background-color: white;
  transform: rotateY(2deg);

  width: 500px;
  height: 360px;
  overflow: hidden;
  border-radius: 8px;

  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.1);
  background-image: url("/showcase/preview-placeholder.gif");

  background-size: cover;
  background-position: center;
}
