.selected-projects__grid {
  display: flex;
  flex-flow: row nowrap;
  gap: 0px 16px;
  margin-bottom: 16px;
}

.selected-projects__pic {
  background-color: var(--color-gray-50);
  height: 214px;
  transition: border 0.2s ease;
  border: 2px solid var(--color-gray-200);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  display: block;

  margin-bottom: 16px;
}

.selected-projects__img {
  object-fit: cover;
  object-position: bottom center;
}

.selected-projects__pic:hover {
  border-color: var(--color-accent);
}

.selected-projects__title {
  font: var(--type-text-caption);
}

.selected-projects__item {
  flex: 1 1 50%;
  max-width: 100%;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .selected-projects__pic {
    height: 200px;
  }
}

@media (max-width: 640px) {
  .selected-projects__pic {
    height: 220px;
  }

  .selected-projects__grid {
    flex-wrap: wrap;
  }

  .selected-projects__item {
    flex-basis: 100%;
    flex-shrink: 0;
  }
}

@supports (aspect-ratio: 16 / 9) {
  .selected-projects__pic {
    aspect-ratio: 16 / 9;
    height: auto;
  }
}

/* old */

.project__name {
  font: var(--type-header-medium);
  -webkit-font-smoothing: none;
  margin-bottom: 8px;
}

.project {
  margin-bottom: 80px;
}

.project__title {
  font: var(--type-text-regular);
  color: var(--color-gray-500);
  margin-bottom: 48px;
}

.project__description {
  font: var(--type-text-regular);
  /* columns: 2; */
  /* column-gap: 72px; */
}

.project__description i {
  font-family: var(--font-serif);
  -webkit-font-smoothing: none;

  color: var(--color-gray-600);
}

.project__description p {
  margin: 0 0 28px 0;
}
