.projector {
  --slides-n: 2;

  border-radius: 12px;
  width: 380px;
  min-height: 240px;
  background-color: var(--color-gray-50);

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.projector:has(.projector__progress) {
  justify-content: flex-start;
}

.projector__slides {
  display: grid;
  grid-auto-flow: column;

  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  padding: 24px 0;
}

.projector__slides::-webkit-scrollbar {
  display: none;
}

.projector__slide-step {
  flex: 1 0 100%;
  scroll-snap-align: start;
  padding: 0 24px;
  width: 100%;
}

.projector__slide {
  aspect-ratio: 16 / 9;
  width: 100%;

  border: 3px solid #ffffff;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  position: relative;
  user-select: none;
  transition: scale 0.1s ease;
}

.projector__slide:hover {
  scale: 0.99;
}

.projector__slide-img {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 12px;
}

.projector__progress {
  --step-w: 20px;
  --step-h: 7px;
  height: calc(var(--step-h) + 1px);

  background: white;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05), inset 0px 2px 0px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  display: flex;
  gap: 1px;
  padding: 0px 1px;

  width: calc(var(--total) * var(--step-w));
  position: relative;
}

.projector__progress-control {
  border-radius: 16px;
  padding: 10px;
  margin-top: -12px;
  margin-bottom: 14px;
  cursor: pointer;
  transition: background 0.15s ease;
}

.projector__progress-control:hover {
  background: rgba(0, 0, 0, 0.03);
}

.projector__progress-mark {
  width: 1px;
  height: 4px;
  position: absolute;
  background: var(--color-gray-100);
  top: 4px;
}

.projector__progress-step {
  height: var(--step-h);
  width: var(--step-w);
  margin-top: 1px;
  border-radius: 16px;
  background-color: var(--color-accent-400);
  box-shadow: inset 0px 1px 2px rgba(255, 255, 255, 0.4), 0px 0px 0px 0.5px var(--color-accent-300);

  transition: transform 0.1s ease;
  transform: translateX(calc(100% * var(--current)));
}

@media (max-width: 1024px) {
  .projector {
    width: 320px;
  }
}

@media (max-width: 640px) {
  .projector {
    width: 100%;
    min-height: auto;
  }
}
