.selected-projects__grid {
  display: flex;
  flex-flow: row nowrap;
  gap: 0px 16px;
  margin-bottom: 16px;
}

.selected-projects__pic {
  background-color: var(--color-gray-50);
  height: 214px;
  transition: border 0.2s ease;
  border: 2px solid var(--color-gray-200);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  display: block;

  margin-bottom: 16px;
}

.selected-projects__img {
  object-fit: cover;
  object-position: bottom center;
}

.selected-projects__pic:hover {
  border-color: var(--color-accent);
}

.selected-projects__title {
  font: var(--type-text-caption);
}

.selected-projects__item {
  flex: 1 1 50%;
  max-width: 100%;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .selected-projects__pic {
    height: 200px;
  }
}

@media (max-width: 640px) {
  .selected-projects__item {
    margin-bottom: 44px;
  }

  .selected-projects__pic {
    height: 220px;
  }

  .selected-projects__grid {
    flex-wrap: wrap;
  }

  .selected-projects__item {
    flex-basis: 100%;
    flex-shrink: 0;
  }
}

@supports (aspect-ratio: 16 / 9) {
  .selected-projects__pic {
    aspect-ratio: 16 / 9;
    height: auto;
  }
}

.selected-projects__links {
  margin-top: 16px;
}

.project-link {
  background-color: var(--color-gray-50);
  padding: 0px 18px;
  padding-bottom: 1px;
  border-radius: 40px;
  font-weight: 600;
  height: 40px;
  vertical-align: middle;
  align-items: center;
  margin-right: 8px;
  box-shadow: inset 0px 0px 0px 1px var(--color-gray-200);
  color: var(--color-gray-600);
  text-decoration: none;
  transition: box-shadow 0.2s ease;

  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.project-link > svg {
  color: var(--color-gray-800);
  margin-top: 1px;
}

.project-link:hover > svg {
  color: var(--color-accent);
}

.project-link:hover {
  color: var(--color-accent);
  box-shadow: inset 0px 0px 0px 2px var(--color-accent);
}

.project-link--primary {
  --primary-color: var(--color-accent-500);
  background-color: var(--primary-color);
  color: white;
  box-shadow: none;
}

.project-link--primary:hover {
  color: white;
  box-shadow: inset 0px 0px 0px 2px var(--primary-color), inset 0px 0px 0px 4px white;
}
