.references {
  --marker-offset: 12px;
  padding: 0;
}

.references a {
  color: inherit;
  text-decoration-color: var(--color-gray-300);
}

.references a:hover,
.references a:active {
  text-decoration-color: var(--color-accent);
  text-decoration-thickness: 3px;
}

li.references__item {
  padding-left: var(--marker-offset);
  margin-left: calc(-1 * var(--marker-offset));
}

li.references__item + li.references__item {
  margin-top: 32px;
}

li.references__item::marker {
  font: var(--type-text-small);
  color: var(--color-gray-400);
  font-size: 12px;
  margin-right: 8px;
}

.references__link {
  color: var(--color-gray-800);
  font-style: italic;
  display: block;
}

.references__link:before {
  content: "«";
  text-decoration-color: var(--color-gray-300);
}

.references__link:after {
  content: "»";
  text-decoration-color: var(--color-gray-300);
}

.references__details {
  margin-top: 4px;
  color: var(--color-gray-700);
  font-weight: normal;
}

.page-header__header {
  font: var(--type-header-medium);
  letter-spacing: var(--type-ls-header);
  margin-bottom: 16px;
  margin-top: 16px;
}

.page-header__text {
  font: var(--type-text-medium);
  margin-bottom: 70px;
  color: var(--color-gray-800);
}

@media (max-width: 768px) {
  li.references__item::marker {
    color: transparent;
  }
}
