.showcase__popover {
  position: fixed;
  width: 480px;
  height: calc(480px / 1.5);

  overflow: hidden;
  border-radius: 8px;
  z-index: 999;

  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.075);
  background-color: var(--color-gray-100);
}

.showcase__popover--modal {
  width: 100%;
  height: calc(440px / 1.5);
  position: relative;
  border-radius: 0px;
}

.showcase__popover--hidden {
  opacity: 0;
  pointer-events: none;
}

.showcase__static-backdrop {
  position: fixed;
  inset: 0 0 0 0;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  padding: 32px 0px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.showcase__placeholder {
  position: absolute;
  inset: 0 0 0 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-gray-100);
}

.showcase__placeholder > span {
  animation-duration: 0.7s;
}

.showcase__media {
  position: absolute;
  inset: 0 0 0 0;
  overflow: hidden;
  font-size: 20px;
}

.showcase__img {
  object-fit: cover;
  object-position: top center;
}

.showcase__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

.showcase__desc {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  padding: 5px 16px;
  background: var(--color-accent);
  font: var(--type-text-regular);
  color: white;
  font-weight: 600;
  line-height: 1.5;
  text-overflow: hidden;
  white-space: nowrap;
}

.showcase__modal-button {
  background-color: var(--color-gray-50);
  border-radius: 32px;
  max-width: 230px;
  height: 64px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  font: var(--type-text-regular);
  text-decoration: dashed underline var(--color-gray-400);
  color: inherit;
}

.showcase__modal-button:hover,
.showcase__modal-button:active {
  color: var(--color-accent);
}

.showcase__description {
  position: absolute;
  bottom: 22px;
  left: 0px;
  height: 32px;
  background: var(--color-accent-700);
  color: white;
  font: var(--type-text-medium);
  transform: rotate(-0.5deg);

  display: flex;
  align-items: center;

  box-shadow: 0px 1px 6px -1px rgba(0, 0, 0, 0.15);
  font-family: var(--font-serif);
}

@media (max-width: 640px) {
  .showcase__description {
    bottom: 12px;
  }
}

.showcase__marquee {
  padding: 0px 32px;
  display: flex;
  align-items: center;
}

.showcase__tag {
  border-radius: 32px;
  border: 1px solid white;
  display: inline-flex;
  align-items: center;
  font-family: var(--font-sans);
  font-weight: 600;
  font-size: 12px;
  color: white;
  padding: 0px 4px;
  margin-right: 4px;
  height: 18px;
}

.showcase__tag:last-child {
  margin-right: 12px;
}
