.sketches__grid {
  --sketches-gap: 8px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: var(--sketches-gap);
  margin-bottom: 40px;
}

@media (max-width: 640px) {
  .sketches__left {
    order: 2;
  }
}

.sketches__block {
  border-radius: 18px;
  padding: 18px 18px;
  background-color: var(--color-gray-100);
  font: var(--type-text-small);
  font-weight: 400;
  color: var(--color-gray-800);
  margin-bottom: var(--sketches-gap);
}

.sketches__block:last-child {
  margin-bottom: 0;
}

.sketches__block--intro {
  font-family: var(--font-serif);
}

.sketches__block a {
  color: var(--color-accent-600);
  font-weight: 600;
  text-decoration: none;
}

.sketches__block a:hover {
  text-decoration: underline;
}

.sketches__block p {
  margin: 0;
}

.sketches__block p + p {
  margin-top: 12px;
}

.sketches__info {
  padding-top: 16px;
}

.sketches__published {
  font: var(--type-text-x-small);
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  color: var(--color-gray-700);
  letter-spacing: 0.5px;
  background: white;
  padding: 4px 12px;
  border-radius: 12px;
}

.sketches__published > svg {
  width: 9px;
  transform: rotate(45deg);
  vertical-align: middle;
  margin-right: 6px;
  padding-top: 1px;
}
