.solid-link {
  display: inline;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  text-decoration: none;
  z-index: 2;
  text-shadow: 1px 1px 0 white, -1px 1px 0 white, 0px 1px 0 white;
  color: inherit;
  font-weight: 500;
}

.solid-link:before {
  display: inline-block;
  content: "";
  height: 4px;
  background-color: var(--color-accent);

  position: absolute;
  top: 1.1em;
  right: 0px;
  left: 0px;

  transition: height 0.1s ease;
  z-index: -2;
}

.solid-link:hover:before {
  height: 6px;
}
