.speaking {
  padding-top: 48px;
  padding-right: 64px;
}

.speaking__header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 24px;
  justify-content: center;
  padding-bottom: 12px;
}

.speaking__title {
  font: var(--type-text-medium);
  margin: 0;
}

.speaking__talk {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  gap: 32px 54px;
  margin-bottom: 128px;
}

.speaking__slides {
  flex-shrink: 0;
}

.speaking__desc {
  margin-bottom: 26px;
}

.speaking__desc code {
  font-family: var(--font-mono);
  background-color: var(--color-gray-100);
  letter-spacing: -0.01em;
  padding: 2px 4px;
  border-radius: 4px;
}

.speaking__head {
  flex: 1 1 auto;
  font: var(--type-header-regular);
  -webkit-font-smoothing: none;
}

.speaking__confs {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.speaking__conf {
  font: var(--type-text-small);
  font-weight: 500;
  border: 1px solid var(--color-gray-300);
  height: 34px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding-left: 12px;
  white-space: nowrap;
  gap: 16px;
  overflow: hidden;
  box-shadow: 0px 1px 0px 1px var(--color-gray-100);

  text-decoration: none;
  color: inherit;
}

.speaking__conf-year {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 12px;
  font: var(--type-text-x-small);
  border-left: 1px solid var(--color-gray-300);
  letter-spacing: 0px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: -0.05em;
}

.speaking__conf[href]:hover {
  color: var(--color-accent-700);
  border-color: var(--color-accent-700);
}

.speaking__conf[href]:hover .speaking__conf-year {
  border-color: var(--color-accent-700);
}

.speaking__rest {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 96px 80px;

  margin-bottom: 80px;
}

.speaking__rest > .speaking__talk {
  margin-bottom: 0px;
}

.speaking__title-with-icon {
  display: flex;
  flex-flow: column wrap;
  gap: 28px;
}

@media (max-width: 768px) {
  .speaking__title-with-icon {
    flex-flow: row nowrap;
    align-items: center;
    gap: 24px;
  }
}

.sp-icon {
  height: 50px;
  width: 50px;
  flex: 0 0 auto;
  position: relative;
}

.sp-icon__img {
  position: absolute;
  top: -2px;
  left: 0px;
}

.sp-icon > svg {
  width: 100%;
  transform: rotate(-3deg);
  color: var(--color-gray-50);
}

.speaking__nav-btn {
  background-color: var(--color-gray-50);
  padding: 0px 16px;
  padding-bottom: 1px;
  border-radius: 40px;
  height: 40px;
  vertical-align: middle;
  align-items: center;
  box-shadow: inset 0px 0px 0px 1px var(--color-gray-200);
  color: var(--color-gray-500);
  text-decoration: none;
  transition: box-shadow 0.2s ease;
  font: var(--type-text-small);
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.speaking__nav-btn > svg {
  color: var(--color-gray-800);
  margin-top: 1px;
}

.speaking__nav-btn:hover > svg {
  color: var(--color-accent);
}

.speaking__nav-btn:hover {
  color: var(--color-accent);
  box-shadow: inset 0px 0px 0px 2px var(--color-accent);
}

@media (max-width: 1024px) {
  .speaking {
    padding-top: 0;
    padding-right: 0;
  }

  .projector {
    width: 320px;
  }
}

@media (max-width: 768px) {
  .speaking__talk {
    flex-wrap: wrap;
    margin-bottom: 80px;
  }

  .speaking__rest {
    grid-template-columns: 1fr;
    gap: 72px;
  }

  .speaking__desc {
    margin-bottom: 20px;
  }
}

@media (max-width: 640px) {
  .speaking__slides {
    flex-grow: 1;
  }

  .projector {
    width: 100%;
    min-height: auto;
  }
}
