.speaking {
  padding-top: 48px;
  padding-right: 64px;
}

.speaking__talk {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  gap: 32px 54px;
  margin-bottom: 128px;
}

.speaking__slides {
  flex-shrink: 0;
}

.speaking__desc {
  margin-bottom: 32px;
}

.speaking__desc code {
  font-family: var(--font-mono);
  background-color: var(--color-gray-100);
  letter-spacing: -0.01em;
  padding: 2px 4px;
  border-radius: 4px;
}

.speaking__head {
  font: var(--type-header-regular);
  -webkit-font-smoothing: none;
}

.projector {
  border-radius: 12px;
  width: 380px;
  min-height: 260px;
  aspect-ratio: 4 / 3;
  background-color: var(--color-gray-50);
  padding: 32px;
  display: flex;
  align-items: center;
}

.projector__slide {
  aspect-ratio: 16 / 9;
  flex: 1 1;

  border: 3px solid #ffffff;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 12px;

  background-image: url("/speaking/hooks-2.jpg");
  background-size: cover;
}

@supports not (aspect-ratio: 4 / 3) {
  .projector {
    min-height: 280px;
  }

  .projector__slide {
    min-height: 144px;
  }
}

.projector__slide--anim {
  background-image: url("/speaking/animations-4.png");
}

.projector__slide--serverless {
  background-image: url("/speaking/serverless-2.jpg");
}

.speaking__confs {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.speaking__conf {
  font: var(--type-text-small);
  border: 1px solid var(--color-gray-300);
  height: 34px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding-left: 12px;
  white-space: nowrap;
  gap: 16px;
  overflow: hidden;
  box-shadow: 0px 1px 0px 1px var(--color-gray-100);
  cursor: pointer;
}

.speaking__conf-year {
  display: flex;
  height: 100%;
  align-items: center;
  color: var(--color-gray-500);
  padding: 0 12px;
  font: var(--type-text-x-small);
  border-left: 1px solid var(--color-gray-300);
  letter-spacing: 0px;
}

.speaking__conf:hover {
  color: var(--color-accent-700);
  border-color: var(--color-accent-700);
}

.speaking__conf:hover .speaking__conf-year {
  border-color: var(--color-accent-700);
}

.speaking__rest {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 80px;
}

.speaking__rest > .speaking__talk {
  margin-bottom: 72px;
}

@media (max-width: 1024px) {
  .speaking {
    padding-top: 0;
    padding-right: 0;
  }

  .projector {
    width: 320px;
  }
}

@media (max-width: 768px) {
  .speaking__talk {
    flex-wrap: wrap;
    margin-bottom: 80px;
  }

  .speaking__rest {
    grid-template-columns: 1fr;
    gap: 0px 72px;
  }
}
