.top-bar {
  padding: 32px 0;
  margin-bottom: 32px;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.top-bar__links {
  flex: 1 0;
}

.top-bar__link {
  color: var(--color-gray-700);
  font: var(--type-text-regular);
  text-decoration: none;
}

.top-bar__link:hover {
  color: var(--color-accent);
}

.top-bar__link-separator {
  margin: 0 14px;
  color: var(--color-gray-500);
}
