.top-bar {
  padding-top: 32px;
  margin-bottom: 64px;
}

.top-bar__links {
  flex: 1 0;
  gap: 12px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.top-bar__link {
  display: inline-flex;
  height: 36px;
  padding: 0 12px;
  border-radius: 3px;
  align-items: center;
  color: var(--color-gray-800);
  font: var(--type-text-regular);
  text-decoration: none;
}

.top-bar__link--active {
  color: var(--color-gray-500);
  background-color: var(--color-gray-100);
}

.top-bar__link:hover:not(.top-bar__link--active) {
  background-color: var(--color-gray-50);
  color: var(--color-accent);
}

.top-bar__link--external:after {
  display: inline-block;
  content: "";
  background-color: var(--color-gray-300);
  width: 4px;
  height: 4px;
  border-radius: 4px;
  position: relative;
  top: -6px;
  margin-left: 4px;
}

.top-bar__link--external:hover:after {
  background-color: var(--color-accent);
  opacity: 0.8;
}

.top-bar__layout {
  --logo-size: 54px;
  --logo-margin: 40px;

  display: flex;
  align-items: center;
  margin-left: calc(-1 * (var(--logo-size) + var(--logo-margin) + 12px));
}

.top-bar__logo-wrapper {
  margin-right: calc(var(--logo-margin));
}

.top-bar__logo {
  --color: var(--color-gray-800);
  border-radius: 3px;
  width: var(--logo-size);
  height: var(--logo-size);
  display: block;
}

.top-bar__logo:after {
  mask: url("../components/TopBar/logo-mask.png") no-repeat center / 100%;
  background: var(--color);
  width: 100%;
  height: 100%;
  display: block;
  content: "";
}

.top-bar__logo:hover {
  --color: var(--color-accent);
}

@media (max-width: 768px) {
  .top-bar__layout {
    flex-wrap: wrap;
    --logo-size: 32px;
    --logo-margin: 22px;
    margin-left: 0;
  }

  .top-bar {
    margin-bottom: 48px;
  }
}
