.top-bar {
  padding-top: 32px;
  margin-bottom: 64px;
}

@media (max-width: 768px) {
  .top-bar {
    margin-bottom: 48px;
  }
}

.top-bar__links {
  flex: 1 0;
}

.top-bar__link {
  color: var(--color-gray-700);
  font: var(--type-text-regular);
  text-decoration: none;
}

.top-bar__link:hover {
  color: var(--color-accent);
}

.top-bar__link-separator {
  margin: 0 16px;
  color: var(--color-gray-300);
}
